<mat-toolbar class="toolbar">
  <div class="container">
    <div mat-button class="logo" [routerLink]="'/'">
      BOOKSHELF
    </div>
    <nav class="nav">
      <button mat-button *ngIf="isLoggined" (click)="toProfile()">
        <mat-icon>person</mat-icon>
      </button>
    </nav>
    <div class="auth">
      <button mat-button *ngIf="!isLoggined" (click)="login()"><mat-icon>login</mat-icon></button>
      <button mat-button *ngIf="isLoggined" (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
  </div>
</mat-toolbar>