<section class="profile-container">
  <img src="../../../assets/user_image_default.png" class="profile-image" />
  <div class="info-container">
    <h3 class="name-title">{{ userProfile?.user_name }}</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
      exercitationem omnis nemo accusamus ad, doloremque deleniti quisquam iure
      sunt? Quam corporis architecto repellat vitae sit animi? Unde, hic!
      Beatae, excepturi.
    </p>
    <div>
      <button
        mat-button
        [ngClass]="'edit-profile-button'"
        (click)="toEditProfile()"
      >
        <mat-icon>edit</mat-icon>
        Edit profile
      </button>
    </div>
  </div>
</section>
<section>
  <mat-tab-group>
    <mat-tab
      [labelClass]="'label'"
      label="own-books {{ '(' + userProfile?.books_count + ')' }}"
      >own books</mat-tab
    >
    <mat-tab [labelClass]="'label'" label="liked">liked</mat-tab>
    <mat-tab [labelClass]="'label'" label="reading">reading</mat-tab>
    <mat-tab [labelClass]="'label'" label="in-feature">in feature</mat-tab>
    <mat-tab [labelClass]="'label'" label="abandoned">abandoned</mat-tab>
  </mat-tab-group>
</section>
