.card {
  width: 200px;
  height: 334px;

  img {
    height: 256px;
    width: 200px;
  }

  .card-content {
    padding: 0 8px;

    .title {
      display: -webkit-box;
      margin: 0;
      margin-top: 4px;
      font-size: 16px;
      line-height: 18px;
      white-space: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .description {
      display: -webkit-box;
      margin: 0;
      font-size: 12px;
      line-height: 16px;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

}